<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/logo.ico">
  <title> Home | Union Cop </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>

    <header>
      <div class="container" id="nav-container">
          <nav class="navbar navbar-expand-lg fixed-top">
          <a href="#" class="navbar-brand">
            <img id="logo" src="img/logo.png" alt="Union Cop"> Union Cop
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria expanded="false" aria label="toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#" id="home-menu">Home</a>
              <a class="nav-item nav-link" href="#"  id="features-menu">Features</a>
              <a class="nav-item nav-link" href="#" id="contact-menu">Contato</a>
              <a class="nav-item nav-link" href="#" id="about-menu">Sobre nós</a>
            </div>
          </div>
          </nav>
      </div>
    </header>
  

  <div class="background-container">
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
  </div>



  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>

  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>

  <script>
    $(window).on("load",function(){
      $(".loader-wrapper").delay(800).fadeOut("slow");
    });
    </script>

</body>

</html>