<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/logo.ico">
  <title> Home | Union Cop </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>


  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-tranparent mx-3">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a href="#" class="navbar-brand">
        <img id="logo" src="img/logo.png" alt="Union Cop"> Union Cop
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarToggleExternalContent">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tools</a>
          </li>
        </ul>

      </div>
    </nav>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" src="img/video.png" alt="exemploUC">
      </div>
      <div class="col-md-6">
        <H3 class="about-title">Estamos apenas Testando</H3>
        <P> TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE
          TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE </p>
        <h3 class="about-title">Beneficios:</h3>
        <ul id="about-list">
          <li>teste teste teste testetesteteste teste teste teste teste teste teste teste teste teste teste teste
          </li>
          <li>teste teste teste testetesteteste teste teste teste teste teste teste teste teste teste teste teste
          </li>
          <li>teste teste teste testetesteteste teste teste teste teste teste teste teste teste teste teste teste
          </li>
          <li>teste teste teste testetesteteste teste teste teste teste teste teste teste teste teste teste teste
          </li>
          <li>teste teste teste testetesteteste teste teste teste teste teste teste teste teste teste teste teste
          </li>
        </ul>
        <div>
          <a href="#" class="btn btn-purchase"> Buy Now </a>
        </div>
      </div>
    </div>
    <div class="background-container">

      <div class="stars"></div>
      <div class="twinkling"></div>
      <div class="clouds"></div>


    </div>
  </div>
  <footer>

  </footer>



  <!-- <header>
    <nav class="navbar navbar-expand-lg fixed-top">
      <a href="#" class="navbar-brand">
        <img id="logo" src="img/logo.png" alt="Union Cop"> Union Cop
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
        aria-controls="navbar-links" aria expanded="false" aria label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#" id="home-menu">Home</a>
          <a class="nav-item nav-link" href="#" id="features-menu">Features</a>
          <a class="nav-item nav-link" href="#" id="contact-menu">Contato</a>
          <a class="nav-item nav-link" href="#" id="faq-menu">FAQ</a>
          <a class="nav-item nav-link" href="#" id="faq-menu">Dashboard</a>
          <a class="nav-item nav-link" href="#" id="faq-menu">Tools</a>
        </div>
      </div>
    </nav>
  </header> -->



  <!-- <div class="background-container">

    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>


  </div> -->

  <!-- <div class="container-fluid">
      <div id="about">
        <div class="container">
         
        </div>
      </div>
    </div> -->


  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>

  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>

  <script>
    $(window).on("load", function () {
      $(".loader-wrapper").delay(800).fadeOut("slow");
    });
  </script>




</body>

</html>