<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


  <link rel="shortcut icon" href="img/logo.ico">
  <title> Cadastro | Union Cop </title>
</head>

<body>
  <section class="cadastro">
    <h1>Cadastre-se antes de acessar nosso servidor no discord! </h1>

    <fieldset class="fieldset ">
      <legend>
        <h4 class="text-light pt-4"> Cadastro </h4>
      </legend>
      <div class="container pt-5">
        <div class="row align-items-center pt-3">
          <div class="col">
            <label for="fname" class="text-light">Nome:</label> <br>
            <input type="Nome" class="txtEdit">
          </div>
        </div>
        <div class="row align-items-center pt-3">
          <div class="col">
            <label for="fname" class="text-light">Email:</label> <br>
            <input type="Email" class="txtEdit" >
          </div>
        </div>
        <div class="row align-items-center pt-3">
          <div class="col">
            <label for="fname" class="text-light">Tel:</label> <br>
            <input type="Tel" class="txtEdit">
          </div>
        </div>
        <div class="nav-right px-3 pt-4">
          <button onclick="" class="btn btn-dashboard"> Confirmar </button>
        </div>
      </div>
    </fieldset>

  </section>

  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>

  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>

  <script>
    $(window).on("load", function () {
      $(".loader-wrapper").delay(800).fadeOut("slow");
    });
  </script>


</body>

</html>